@tailwind components;
@tailwind utilities;

@import "./preflight";

body {
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;
}

:root {
  --base: #046464;
  --gold: #b5a378;
}

.navbar {
  position: relative;
}

.navbar a {
  font: medium;
  font-weight: 500;
  padding-left: 30px;
  color: var(--base);
  float: center;
}

.navbar a:hover {
  color: var(--gold);
}
